PRIVATE_KEY=YOUR_PRIVATE_KEY_OF_WALLET
SCAN_API_KEY=LOGIN_TO_SCAN_THAT_YOU_WANT_TO_DEPLOY_AND_GET_KEY
RPC_URL=GET_RPC_URL_FROM_INFURA_OR_ANY_PUBLIC_ONE
FACTORY_NAME=FACTORY_TOKEN_NAME
FACTORY_TAG=FACTORY_TAG
CONTRACT_ADDRESS=AFTER_DEPLOY_YOUR_FACTORY_PUT_YOUR_CONTRACT_ADDRESS_HERER
BSC_SCAN_RPC=https://data-seed-prebsc-1-s1.binance.org:8545/

NFT_CONTRACT= AFTER_RUNNING_CREATE_NFT_GET_NFT_ADDRESS_AND_PUT_HERE_TO_MINT_TOKEN
